*, *:before, *:after{
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
}

body{
    margin: 0;
    font-family: 'Bebas Neue';
}

.menu-btn{
    width: 2.5em;
    cursor: pointer;
}

.top-bg-container{
   height: 100vh;
   position: absolute; 
   width: 90%;
   top: 0;
   right: 0;
   display: grid;
   grid-template-columns: 80% auto;
   z-index: -1;
}

.light-streaks {
    background: #B2DD9E url(assets/streaks.jpg);
    background-blend-mode: screen;
    background-size: cover;
    height: 100vh;
 }

 .blue-col{
    background-color: #7988BE;
 }

 .container{
    margin: 0 1em;
 }

 nav{
    display: flex;
    justify-content: space-between;
 }

 .logo{
    display: inline-block;
    background-color: black;
    padding: .2em .4em;
    color: white;
    font-size: 1.8rem;
 }

 span{
    color: #6889FF;
 }

 nav ul {
    position: fixed;
    top: 0;
    right: 0;
    width: 66%;
    background-color: #363B4E;
    height: 100vh;
    z-index: 2;
    padding: 2em 0;
    transform: translateX(100%);
    transition: transform .3s;
 }

 nav ul li a{
    color: white;
    display: block;
    padding: .4em 1.5em;
    text-align: right;
    font-size: 1.5rem;
 }

 .exit-btn{
    text-align: right;
 }

 .exit-btn img {
    width: 2em;
    margin: 2em;
    cursor: pointer;
 }

 .contetn{
    text-align: center;
    margin: 8em 3em 0;
    height: 75vh;
 }

 h1{
    font-size: 3rem;
    font-weight: normal;
    line-height: 92%;
 }

 .type p{
    font-family: 'Montserrat';
    font-size: 1.125rem;
    line-height: 141.6%;
 }

 .drone-container{
    position: relative;
    margin: 5em auto;
    width: 65%;
 }

 .blur, .drone{
    position: absolute;
    left: 0;
 }

 .blur{
    opacity: .5;
    top: 1em3;
    animation: pulse 2s alternate-reverse infinite;
 }

 .drone{
    animation: hover 2s alternate-reverse infinite;
 }

 @keyframes hover{
    from{
        transform: translateY(-40px);
    }
 }

 @keyframes pulse {
    from{
        opacity: 0;
    }
 }

 /* Section 1 */

 .qoute{
    width: 90%;
    background-color: #303853;
    color: white;
    position: relative;
    padding: 4em 2em;
    margin-left: auto;
    height: 75vh;
 }

 .qoute:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url('assets/stadium.jpg');
    width: 100%;
    height: 100%;
    opacity: 17%;
 }


blockquote{
    margin: 0 0 2em 0;
    font-size: 1.5rem;
}

cite{
    position: relative;
    padding-left: 1.5em;
}

cite:before{
    content: '';
    position: absolute;
    width: 1em;
    border-bottom: 1px solid white;
    left: 0;
    top: 50%;
}

/* section 2 */

.gallery{
    display: block;
    width: 90%;
    margin-left: auto;
    margin-bottom: 2em;
}

h1{
    font-size: 2.5rem;
    margin-bottom: 0;
    font-weight: normal;
}
 
.footage-content p{
    font-family: sans-serif;
}

.gallery-container{
    display: grid;
    grid-template-areas:
         ". a b"
         "c d ."
         ". e.";
    margin-top: 2em
}

.gallery-container img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    cursor: pointer;
}

.gallery-container img:nth-of-type(1){
    grid-area: a;
}
.gallery-container img:nth-of-type(2){
    grid-area: b;
}
.gallery-container img:nth-of-type(3){
    grid-area: c;
}
.gallery-container img:nth-of-type(4){
    grid-area: d;
}
.gallery-container img:nth-of-type(5){
    grid-area: e;
}

.contact{
    background: #B2DD9E;
}

h3{
    padding: 1em 1em 1em 10%;
    font-size: 2rem;
    /* background-color: #9FC88C; */
    background-color: rgba(0,0,0 ,.1);
    display: inline-block;
    margin: 0;
    font-weight: normal;
}

.cols-2{
    width: 90%;
    margin: 2em 2em 2em 10%;
    padding-right: 2em;
    padding-bottom: 2em;
}

label{
    display: block;
    font-size: 1.2rem;
    margin-bottom: .5em;
}